{% extends 'base.html' %}

{% block content %}
<div class="choose-container">
    <h2>Choose Your Role</h2>
    <p>Please select your role to proceed:</p>
    <div class="options">
        <form action="/donor" method="GET">
            <button type="submit" class="btn btn-donor">I am a Donor</button>
            <form action="{{ url_for('main.donor') }}" method="POST">
        </form>
        <form action="/patient" method="GET">
            <button type="submit" class="btn btn-patient">I am a Patient</button>
            <form action="{{ url_for('main.patient') }}" method="POST">
        </form>
    </div>
</div>
{% endblock %}
